:root {
    --black: rgb(33, 33, 33);
    --dark: #444;
    --light-gray: #eee;
    --medium-gray: #ddd;
    --white: #ffffff;
    --light: #f0f0f0;
    --cyan: #509c93;
    --gray: #6a6a6a;
    --darker: #222;
}

html {
    font-family: "Inter";
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 800px;
    margin: auto;
    margin-top: 0.7em;
    background: var(--white);
    border: 1px solid var(--black);
    box-shadow: -10px 10px 0px rgba(33, 33, 33, 1), -20px 20px 0px rgba(33, 33, 33, 0.7), -30px 30px 0px rgba(33, 33, 33, 0.4), -40px 40px 0px rgba(33, 33, 33, 0.1);
}


h1, h2, h3, h4 {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    color: #080808;
}

.heading {
    position: relative;
    height: 10em;
    overflow: hidden;
}
.heading img {
    width: 100%;
}

.heading h1 {
    position: absolute;
    color: var(--white);
    top: 1em;
    left: 1em;
    padding: 0.3em;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.6);
}


nav ul {
    list-style-type: none;
    overflow: hidden;
    padding-left: 1.9em;
    background-color: var(--black);
}

nav li {
    float: left;
    text-transform: uppercase;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-weight: 800;
    padding: 0.5em;
}

nav a:hover {
    background-color: var(--light);
    color: var(--black);
}

footer {
    background-color: var(--cyan)
}

.content td {
    padding: 0.1em 0.5em;
}

.content tr:nth-child(even) {
    background-color: var(--light-gray);
}


.content {
    max-width: 700px;
    margin: auto;
    padding: 2em;
}

.content > * {
    margin-bottom: 0.3em;
}

.content p {
    margin-bottom: 1em;
}

.content a {
    text-decoration: none;
    color: var(--black);
    font-weight: 700;
    position: relative;
    z-index: 2;
}

.content a::before {
  content: '';
  background-color: var(--black);
  position: absolute;
  left: 0;
  bottom: -0.01em;
  height: 1px;
  width: 20%;
  z-index: -1;
}

.content a:hover {
    color: var(--white);
}

.content a:hover::before {
  bottom: 0;
  height: 100%;
  width: 100%;
}

.content p, .content li, .content a, .content td {
    font-family: Inter;
    letter-spacing: 0.55px;
    font-size: 16px;
    line-height: 24px;

}

.content h1, .content h2, .content h3.after{
    letter-spacing:1px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 16px 0;
    grid-gap: 22px;
}

.content h2::after {
    content: " ";
    display: block;
    border-bottom: 2px solid #eee;
    background-color:#ffffff;
}

.content h2, .content h3, .content h4, h5 {
    margin-top: 1.5em;
}

.content ul {
    list-style: none;
}

.content li {
    margin-bottom: 0.3rem;
}

.content ul li::before {
    content: "\00bb ";
    padding-right: 0.6em;

}

.image-grid {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 1em;
}

.image-grid h2::after {
    content: "";
    display: block;
    border-bottom: 0;
    background-color: #ffffff;
}

.image-grid .image-item img {
    padding: 3px;
    object-fit: contain;
    width: 350px;
    margin-bottom: 12px;
}

@media (max-width: 385px) {
    .image-grid {
        display: grid;
        grid-template-columns: auto;
    }
}

footer {
    color: var(--white);
    background-color: var(--black);
    padding: 0.7em 2.4em;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}

.footer a {
    text-decoration: none;
    color: var(--white);
    font-weight: 700;
    position: relative;
    z-index: 1;
}

.footer a::before {
  content: '';
  background-color: var(--white);
  position: absolute;
  left: 0;
  bottom: 1px;
  height: 1px;
  width: 20%;
  z-index: -1;
}

.footer a:hover {
    color: var(--black);
}

.footer a:hover::before {
  bottom: 0;
  height: 100%;
  width: 100%;
}
